<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinlaravelapirestful">
<uses-permission android:name="android.permission.INTERNET" />
    <!-- Usar: android:requestLegacyExternalStorage="true"
     dentro de application para no participar en los cambios desde Android 10
     https://medium.com/@sriramaripirala/android-10-open-failed-eacces-permission-denied-da8b630a89df -->

    <!-- Se utilizo dentro de aplication:
        android:hardwareAccelerated="false" <- Sirve para que la aplicación no se ponga lenta cuando se cargan imagenes.
        android:largeHeap="true" <- Sir para soportar mas memoria cache en la memoria cache de la aplicacipm. Si no se agrega archivos grandes crashean el app cuando se suben al servidor.
     -->
    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinLaravelApiRestFul">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>